::ng-deep ngb-modal-backdrop {
  z-index: 25 !important;
}
//.dark-modal .modal-content {
//  background-color: #292b2c;
//  color: white;
//}
//.dark-modal .close {
//  color: white;
//}
//.light-blue-backdrop {
//  background-color: #5cb3fd;
//}
//Sá»­a form
.form-group select {
  height: 40px;
}
table {
  width: 100%;
}
