<div class="container">
  <div class="row">
    <div class="col-4">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tìm kiếm">
    </div>
    <div class="col-6">
    </div>
    <div col-2>
      <button class="btn btn-primary" (click)="openLg(content)">Thêm mới</button>
    </div>
    <div class="row mt-2">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Mã NV</th>
          <th scope="col">Tên nhân viên</th>
          <th scope="col">Ngày sinh</th>
          <th scope="col">Giới tính</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">CCCD</th>
          <th scope="col">Email</th>
          <th scope="col">Chức vụ</th>
          <th scope="col">Trường</th>
          <th scope="col">Lương</th>
          <th colspan="2" style="text-align: center">
            Thao tác
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of datas">
          <td>{{item.id}}</td>
          <td>{{item.fullName}}</td>
          <td>{{item.birthDay | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.homeTown}}</td>
          <td>{{item.cccd}}</td>
          <td>{{item.email}}</td>
          <td>{{item.position}}</td>
          <td>{{item.school}}</td>
          <td>{{item.salary}}</td>
          <td>
            <span class="btn btn-success mr-2" (click)="openLg(content)">View</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<form [formGroup]="emp">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h2 class="modal-title" style="color: #3c763d">Thêm mới nhân viên</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>FullName:</label>
            <input type="text" class="form-control" formControlName="fullName">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Gender:</label>
              <select class="form-control" formControlName="gender">
                <option  value="Nam">Nam</option>
                <option  value="Nữ">Nữ</option>
                <option  value="Khác">Khác</option>
              </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Birthday:</label>
            <input type="date" class="form-control" formControlName="birthDay">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>HomeTown:</label>
            <input type="text" pInputText class="form-control" formControlName="homeTown">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>UserName:</label>
            <input type="email" class="form-control" formControlName="userName">
            <small *ngIf="emp.get('userName')?.errors?.required && emp.get('userName')?.touched">
              Email không được để trống !
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Phone Number:</label>
            <input type="text" class="form-control" formControlName="phoneNumber">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Position:</label>
            <select class="form-control">
              <option>Intern</option>
              <option>Developer</option>
              <option>Tester</option>
              <option>Leader</option>
              <option>PM</option>
              <option>DM</option>
              <option>HR</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Salary:</label>
            <input type="text" pInputText class="form-control" formControlName="salary">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>School:</label>
            <input type="text" pInputText class="form-control" formControlName="school">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div>
        <button type="button" class="btn btn-success" (click)="addEmployee()">Thêm mới</button>
      </div>
    </div>
  </ng-template>
</form>
