
        <form [formGroup]="formLogin">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Đăng nhập</p>
          </div>

          <!-- Email input -->
          <div class="p-float-label mb-4">
            <input id="p-inputtext-lg" class="custom-input" formControlName="userName" type="text"
                   pInputText>
            <label for="p-inputtext-lg">Tài khoản</label>
          </div>

          <!-- Password input -->
          <div class="p-float-label custom-input mb-3">
            <input id="p-inputtext-lg" class="custom-input" formControlName="password" type="text"
                   pInputText/>
            <label for="p-inputtext-lg">Mật khẩu</label>
          </div>

          <div class="d-flex justify-content-between align-items-center" style="float: right">

            <a routerLink='forgotpass' class="text-body">Lấy lại mật khẩu?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-3">
            <button class="btn btn-primary" (click)="onSubmit()">Đăng nhập</button>
          </div>
