<div>
  <h2>Lấy Lại Mật Khẩu</h2>
</div>
<form novalidate (ngSubmit)="sendOtp()" [formGroup]="cpi">
  <label class="col-form-label">Nhập Email</label>
  <input class="form-control" type="text" formControlName="email"/>

  <small *ngIf="cpi.get('email')?.errors?.required && cpi.get('email')?.touched">
    Bạn phải nhập Email !
  </small>

  <small role="alert"
         *ngIf="cpi.get('email')?.errors?.email && cpi.get('email')?.touched">
    Bạn phải nhập đúng định dạng của Email !
  </small>
  <button class="btn btn-primary mt-3" style="float: right;" type="submit;" [disabled]=!this.cpi.valid>
    Gửi
  </button>
  <br>
  <br>


  <label class="col-form-label">Nhập OTP</label>
  <input class="form-control" type="text" formControlName="otp">

  <small role="alert"
         *ngIf="cpi.get('otp')?.errors?.required && cpi.get('otp')?.touched">
    Bạn phải nhập Otp !
  </small>

  <small role="alert"
         *ngIf="cpi.get('otp')?.errors?.email && cpi.get('otp')?.touched">
    OTP phải là số!
  </small>

      <a class="text-body mt-4" style="float: left">Quay lại trang đăng nhập?</a>

    <button class="btn btn-primary mt-3" style="float: right;" type="submit;"  [disabled]=!this.cpi.valid>
      Gửi
    </button>
</form>
