<p-card [class.mt-2]="$any(true)">
  <div class="container">
    <div class="row justify-content-center">
      <form [formGroup]="formSearch">
        <div class="form-row">
          <div class="col-8 row">
            <div class="col-12 row">
              <div class="form-group col-12 col-sm-6">
                <label for="inputname">Tên đợt chuyển</label>
                <input type="text" formControlName="name" class="form-control"
                       id="inputname">
              </div>
              <div class="form-group col-12 col-sm-6">
                <label for="reason">Lý do chuyển</label>
                <input type="text" formControlName="reason" id="reason" class="form-control">
              </div>

              <div class="form-group col-12 col-sm-6">
                <label for="transferUserName">Tên nhân viên</label>
                <input id="transferUserName" type="text" formControlName="transferUserName" class="form-control">
              </div>
              <div class="form-group col-12 col-sm-6">
                <label>Ngày chuyển</label>
                <input type="date" class="form-control" formControlName="succeeDay">
              </div>
            </div>

            <div class="form-group row col-md-12">

              <div class="col-6 ">
                <label>Đơn vị cũ</label>
                <select id="unitOld" class="form-control" formControlName="unitOld">
                  <option *ngFor="let unit of unitData;" [value]="unit.id">{{unit.name}}</option>
                </select>
              </div>

              <div class="col-6 ">
                <label>Đơn vị mới</label>
                <select id="unitNew" class="form-control" formControlName="unitNew">
                  <option *ngFor="let unit of unitData;" [value]="unit.id">{{unit.name}}</option>
                </select>
              </div>

            </div>
            <div class="row">
              <div class="col-1"></div>
              <button class="btn btn-primary" type="button" (click)="OnSearch()">Tìm kiếm</button>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="row">
      <div class="col-9"></div>
      <div class="col-3">
        <div>
          <button class="btn btn-primary " (click)="openLg(content1, 25)">Tạo điều đợt điều chuyển</button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <table class="table table-bordered table-hover">
        <thead>
        <tr class="bg-light">
          <th (click)="sortByValue('transferName')" scope="col">Tên điều chuyển <i class="fas fa-sort"></i></th>
          <th (click)="sortByValue('createdDate')" scope="col">Ngày tạo <i class="fas fa-sort"></i></th>
          <th (click)="sortByValue('unitOld')" scope="col">Đơn vị cũ <i class="fas fa-sort"></i></th>
          <th (click)="sortByValue('unitNew')" scope="col">Đơn vị mới <i class="fas fa-sort"></i></th>
          <th (click)="sortByValue('employee')" scope="col">Nhân viên điều chuyển <i class="fas fa-sort"></i></th>
          <th (click)="sortByValue('creator')" scope="col">Người tạo <i class="fas fa-sort"></i></th>
          <th (click)="sortByValue('status')" scope="col">Status <i class="fas fa-sort"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of transferList" (click)="sentoUpdate(item.id)">
          <td>{{item.transferName}}</td>
          <td>{{item.createdDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.unitOld.name}}</td>
          <td>{{item.unitNew.name}}</td>
          <td>{{item.employee.fullName}}</td>
          <td>{{item.creator.fullName}}</td>
          <td *ngIf="item.status == 0">Đang chờ xét duyệt</td>
          <td *ngIf="item.status == 1">Đang xét duyệt</td>
          <td *ngIf="item.status == 2">Đã từ chối</td>
          <td *ngIf="item.status == 3">Đã hủy</td>
          <td *ngIf="item.status == 4">Xét duyệt thành công</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-3 justify-content-sm-end">
      <label>Size page:  </label>
      <select #selectSize (change)="pageItem(selectSize.value)" class="page-items mr-1">
        <option selected>5</option>
        <option>10</option>
        <option>15</option>
      </select>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item " [ngClass]="indexPage == 0?'disabled':''">
          <a class="page-link" (click)="preNextPage('pre')">Previous</a>
        </li>
        <li *ngFor="let pageNumber of [].constructor(Page['totalPages']);let i = index"
            class="page-item" [ngClass]="indexPage == i?'active':''">
          <a class="page-link" (click)="pagination(i)">{{i + 1}}</a>
        </li>
        <li class="page-item" [ngClass]="(Page['totalPages'] - 1) == indexPage?'disabled':''">
          <a class="page-link" (click)="preNextPage('next')">Next</a>
        </li>
      </ul>
    </nav>

  </div>
</p-card>
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h2 class="modal-title" style="color: #3c763d">Thêm mới đợt điều chuyển</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formTransfer">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>Tên đợt điều chuyển:</label>
            <input type="text" class="form-control" formControlName="transferName">
            <small class="col alert text-danger" role="alert"
                   *ngIf="formTransfer.get('transferName')?.errors?.required && formTransfer.get('transferName')?.touched">
              Tên đợt điều chuyển không được để trống
            </small>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Đơn vị mới:</label>
            <select class="custom-select mb-3" formControlName="unitNew">
              <option *ngFor="let unitNew of units" [ngValue]="unitNew">{{unitNew.name}}</option>
            </select>
            <small class="col alert text-danger" role="alert"
                   *ngIf="formTransfer.get('unitNew')?.errors?.required && formTransfer.get('unitNew')?.touched">
              Vui lòng chọn đơn vị điều chuyển tới !
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11">
          <div class="form-floating">
            <label for="floatingTextarea2">Lý do điều chuyển:</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                      style="height: 100px" formControlName="reasonTransfer"></textarea>
            <small class="col alert text-danger" role="alert"
                   *ngIf="formTransfer.get('reasonTransfer')?.errors?.required && formTransfer.get('reasonTransfer')?.touched">
              Lý do điều chuyển không được để trống
            </small>
          </div>
        </div>
      </div>
    </form>
    <hr>
    <div class="row">
      <h4>Thông tin nhân viên</h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Mã NV</th>
          <th scope="col">Tên nhân viên</th>
          <th scope="col">Ngày sinh</th>
          <th scope="col">Giới tính</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">CCCD</th>
          <th scope="col">Email</th>
          <th scope="col">Chức vụ</th>
          <th scope="col">Đơn vị</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="userTransfer">
          <td>{{userTransfer.id}}</td>
          <td>{{userTransfer.fullName}}</td>
          <td>{{userTransfer.birthDay | date: 'dd/MM/yyyy'}}</td>
          <td>{{userTransfer.gender}}</td>
          <td>{{userTransfer.cccd}}</td>
          <td>{{userTransfer.email}}</td>
          <td>{{userTransfer.position}}</td>
          <td>{{userTransfer.position}}</td>
          <td>{{userTransfer.unit.name}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <div>
      <button type="submit" class="btn btn-warning" (click)="addTransfer()">Hủy bỏ</button>
    </div>
    <div>
      <button type="submit" class="btn btn-success" (click)="onSubmit()">Điều chuyển</button>
    </div>
  </div>
</ng-template>

<div class="loader" *ngIf="showLoader">
  <div class="loader-inner">
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
  </div>
</div>
