
<p-card [class.mt-2]="$any(true)">
  <div class="container">
    <div class="row">
      <div class="col-9"></div>
      <div class="col-3">
        <div>
          <button class="btn btn-primary " (click)="openLg(content1, 25)">Tạo điều đợt điều chuyển</button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <table class="table table-bordered">
        <thead>
        <tr class="bg-light">
          <th scope="col">Tên điều chuyển</th>
          <th scope="col">Ngày tạo</th>
          <th scope="col">Đơn vị cũ</th>
          <th scope="col">Đơn vị mới</th>
          <th scope="col">Nhân viên điều chuyển</th>
          <th scope="col">Người tạo</th>
          <th scope="col">Status</th> 
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of datas " (click)="sentoUpdate(item.id)">
          <td>{{item.transferName}}</td>
          <td>{{item.createdDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.unitOld.name}}</td>
          <td>{{item.unitNew.name}}</td>
          <td>{{item.employee.fullName}}</td>
          <td>{{item.creator.fullName}}</td>
          <td *ngIf="item.status == 0">Đang chờ xét duyệt</td>
          <td *ngIf="item.status == 1">Đang xét duyệt</td>
          <td *ngIf="item.status == 2">Đã từ chối</td>
          <td *ngIf="item.status == 3">Đã hủy</td>
          <td *ngIf="item.status == 4">Xét duyệt thành công</td>
        </tr>
        </tbody>
      </table>
    </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>

  </div>
</p-card>
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h2 class="modal-title" style="color: #3c763d">Thêm mới đợt điều chuyển</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formTransfer">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>Tên đợt điều chuyển:</label>
            <input type="text" class="form-control" formControlName="transferName">
            <small class="col alert text-danger" role="alert"
                   *ngIf="formTransfer.get('transferName')?.errors?.required && formTransfer.get('transferName')?.touched">
              Tên đợt điều chuyển không được để trống
            </small>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Đơn vị mới:</label>
            <select class="custom-select mb-3" formControlName="unitNew">
              <option *ngFor="let unitNew of units" [ngValue]="unitNew">{{unitNew.name}}</option>
            </select>
            <small class="col alert text-danger" role="alert"
                   *ngIf="formTransfer.get('unitNew')?.errors?.required && formTransfer.get('unitNew')?.touched">
              Vui lòng chọn đơn vị điều chuyển tới !
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11">
          <div class="form-floating">
            <label for="floatingTextarea2">Lý do điều chuyển:</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                      style="height: 100px" formControlName="reasonTransfer"></textarea>
            <small class="col alert text-danger" role="alert"
                   *ngIf="formTransfer.get('reasonTransfer')?.errors?.required && formTransfer.get('reasonTransfer')?.touched">
              Lý do điều chuyển không được để trống
            </small>
          </div>
        </div>
      </div>
    </form>
    <hr>
    <div class="row">
      <h4>Thông tin nhân viên</h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Mã NV</th>
          <th scope="col">Tên nhân viên</th>
          <th scope="col">Ngày sinh</th>
          <th scope="col">Giới tính</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">CCCD</th>
          <th scope="col">Email</th>
          <th scope="col">Chức vụ</th>
          <th scope="col">Đơn vị</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="userTransfer">
          <td>{{userTransfer.id}}</td>
          <td>{{userTransfer.fullName}}</td>
          <td>{{userTransfer.birthDay | date: 'dd/MM/yyyy'}}</td>
          <td>{{userTransfer.gender}}</td>
          <td>{{userTransfer.cccd}}</td>
          <td>{{userTransfer.email}}</td>
          <td>{{userTransfer.position}}</td>
          <td>{{userTransfer.position}}</td>
          <td>{{userTransfer.unit.name}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <div>
      <button type="submit" class="btn btn-warning" (click)="addTransfer()">Hủy bỏ</button>
    </div>
    <div>
      <button type="submit" class="btn btn-success" (click)="onSubmit()">Điều chuyển</button>
    </div>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h2 class="modal-title" style="color: #3c763d">Cập nhật đợt điều chuyển</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formTransfer">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>Tên đợt điều chuyển:</label>
            <input type="text" class="form-control" formControlName="transferName">
            <small class="col alert text-danger" role="alert"
                   *ngIf="formTransfer.get('transferName')?.errors?.required && formTransfer.get('transferName')?.touched">
              Tên đợt điều chuyển không được để trống
            </small>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div *ngIf="units" class="form-group">
            <label>Đơn vị mới:</label>
            <select class="custom-select mb-3" formControlName="unitNew">
              <option *ngFor="let item of units" [value]="item">{{item.name}}</option>
            </select>
            <small class="col alert text-danger" role="alert"
                   *ngIf="formTransfer.get('unitNew')?.errors?.required && formTransfer.get('unitNew')?.touched">
              Vui lòng chọn đơn vị điều chuyển tới !
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11">
          <div class="form-floating">
            <label for="floatingTextarea2">Lý do điều chuyển:</label>
            <textarea class="form-control" placeholder="Leave a comment here" style="height: 100px"
                      formControlName="reasonTransfer"></textarea>
            <small class="col alert text-danger" role="alert"
                   *ngIf="formTransfer.get('reasonTransfer')?.errors?.required && formTransfer.get('reasonTransfer')?.touched">
              Lý do điều chuyển không được để trống
            </small>
          </div>
        </div>
      </div>
    </form>
    <hr>
    <div class="row">
      <h4>Thông tin nhân viên</h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Mã NV</th>
          <th scope="col">Tên nhân viên</th>
          <th scope="col">Ngày sinh</th>
          <th scope="col">Giới tính</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">CCCD</th>
          <th scope="col">Email</th>
          <th scope="col">Chức vụ</th>
          <th scope="col">Đơn vị</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="userTransfer">
          <td>{{userTransfer.id}}</td>
          <td>{{userTransfer.fullName}}</td>
          <td>{{userTransfer.birthDay | date: 'dd/MM/yyyy'}}</td>
          <td>{{userTransfer.gender}}</td>
          <td>{{userTransfer.cccd}}</td>
          <td>{{userTransfer.email}}</td>
          <td>{{userTransfer.position}}</td>
          <td>{{userTransfer.position}}</td>
          <td>{{userTransfer.unit.name}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row justify-content-center">
      <button *ngIf="transfer.status == 0 " type="submit" class="btn btn-danger " (click)="addTransfer()">Hủy bỏ</button>
      <button *ngIf="transfer.status == 0" type="submit" class="btn btn-primary " (click)="update()">Chỉnh sửa</button>
      <button *ngIf="isCheck"  type="submit" class="btn btn-success " (click)="onSubmit()">Xét duyệt</button>
      <button *ngIf="isCheck" type="submit" class="btn btn-warning " (click)="addTransfer()">Từ chối</button>
    </div>

  </div>
</ng-template>
